@page "/userdata"

@using UserManagement.Web.Data
@inject UserService userService

<h1>User Service</h1>

<p>This component demonstrates fetching data from a service.</p>

<div>
    <label>Token</label>
    <input type="text" @bind="@token" />

    <button class="btn btn-primary" @onclick="getData">Get Data</button>
</div>


<p>@data</p>


@code {
    private string data;
    string token = "";

    private async Task getData()
    {

        data = await userService.getUserById(token);
    }
}
